@import "./colours";

@keyframes text-to-green {
    to{
        color: $teal;
    }
}

@keyframes fade-in-up{
    from{
        opacity: 0;
        transform: translateY(2vw)
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fade-in-down{
    from{
        opacity: 0;
        transform: translateY(-2vw)
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes zoom-in{
    to{transform: scale(1.2)}
}