@import './colours';

input{
   border: none;
   width: 100%;
   height: 7vh;
   border-radius: 7vw;
   text-indent: 7vw;
   background-color:  $black;
   color:$white;

   &:focus{
       outline: none;
   }
}

button{
   border: none;
   background-color: transparent;

   &:focus{
      outline: none;

   }
}

svg{
   height: 4vw;
}

@media screen and(min-width: $tablet-min){
   input{
      border: none;
      height: 6.5vh;
      border-radius: 3vw;
      text-indent: 3vw;
   }
}