@font-face {
    font-family: "GothamRounded";
    src: url("../assets/fonts/GothamRounded/GothamRounded-Bold.otf")
      format("opentype");
    font-weight: bold;
  }

  @font-face {
    font-family: "GothamRounded";
    src: url("../assets/fonts/GothamRounded/GothamRounded-BoldItalic.otf")
      format("opentype");
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: "GothamRounded";
    src: url("../assets/fonts/GothamRounded/GothamRounded-Book.otf")
      format("opentype");
    font-weight: 200;
  }

  @font-face {
    font-family: "GothamRounded";
    src: url("../assets/fonts/GothamRounded/GothamRounded-BookItalic.otf")
      format("opentype");
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: "GothamRounded";
    src: url("../assets/fonts/GothamRounded/GothamRounded-Light.otf")
      format("opentype");
    font-weight: 400;
  }

  @font-face {
    font-family: "GothamRounded";
    src: url("../assets/fonts/GothamRounded/GothamRounded-LightItalic.otf")
      format("opentype");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "GothamRounded";
    src: url("../assets/fonts/GothamRounded/GothamRounded-Medium.otf")
      format("opentype");
    font-weight: 600;
  }

  @font-face {
    font-family: "GothamRounded";
    src: url("../assets/fonts/GothamRounded/GothamRounded-MediumItalic.otf")
      format("opentype");
    font-weight: 600;
    font-style: italic;
  }
  