@import './colours';
@import './dimensions';
@import './animations';


.login{
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    font-size: 3vw;
    animation: fade-in 2s ease forwards;

    &__content{
        width: 100%;
        height: 50%;
    }

    &__section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__title{
            font-size: 1.3em;
            margin: 2vh 0;
        }

        &__entry{
            height: 100%;
            width: $form-width--mobile;
            display: flex;
            flex-direction: column;

            form{
                width: 100%;
                height: 65%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }


            // &__input{
            //     height: 7vh;
            //     border-radius: 7vw;
            //     text-indent: 7vw;

            // }
        }

        &__sign-in{
            align-self: flex-end;
        }
    }

    // &__background{
    //     &-top{
    //         width: 100%;
    //         background-color: $white;
    //     }
    //     &-bottom{
    //         width: 100%;
    //         background-color: $teal;
    //     }
    // }
}

@media screen and(min-width: $tablet-min){
    .login{      
        font-size: 1.5vw; 
        &__section{ 
    
            &__entry{
                height: 100%;
                width: $form-width--tablet;
            }
    
            &__sign-in{
                margin: 2vh 0;
                align-self: flex-end;
            }
        }
    }
}
