@import "./colours";
@import "./dimensions";
@import "./animations";

.login {
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  font-size: 3vw;
  animation: fade-in 2s ease forwards;

  &__content {
    width: 100%;
    height: 50%;
  }

  &__section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      font-size: 1.3em;
      margin: 2vh 0;
    }

    &__entry {
      height: 100%;
      width: $form-width--mobile;
      display: flex;
      flex-direction: column;

      form {
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }

    &__sign-in {
      align-self: flex-end;
      cursor: pointer;
    }

    &__create-account {
      cursor: pointer;
    }
  }
}

@media screen and(min-width: $tablet-min) {
  .login {
    font-size: 1.5vw;
    justify-content: center;

    &__content {
      width: $content-width--tablet;
      height: 50%;
    }

    &__section {
      &__entry {
        width: $form-width--tablet;

        form {
          height: 85%;
        }
      }
    }
  }
}
