@import './animations';
@import './colours';
@import './dimensions';

.navbar{
    display: flex;
    height: 12vh;
    width: 100vw;
    font-size: 4vw;
    margin-bottom: 3vh;
    background-color: $teal;

    &__content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__logo{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50%;
        }

        &__links{
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            font-size: 0.7em;

            &__link{
                &:hover{
                    color: $white;
                        
                }

            }

        }
    }
}

@media screen and(min-width: $tablet-min){
    .navbar{
        height: 10vh;
        font-size: 1.7vw;
        margin-bottom: 2vh;
        display: flex;
        align-items: flex-end;
    
        &__content{
            width: 100%;
            height: $content-width--tablet;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            &__logo{
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                padding: 2.5vw;
            }
    
            &__links{
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                font-size: 0.7em;


            }
        }
    }

}