@import "./colours";
@import "./dimensions";
@import "./animations";

.schedule-detail {
  width: 40%;
  padding: 1vh 1vw;
  display: flex;
  justify-content: space-around;
  margin-right: 1vw;      


  &__icon {
    width: 25%;
    height: auto;
    border-right: 1px solid $white;
    padding-right: 1.5vw;
  }

  &__text{
      width: 5vw;
      height: 5vw;
      border-radius: 2.5vw;
      background-color: $white;
      color: $grey;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;



      &--red{
          background-color: rgb(255, 115, 115);
          width: 5vw;
          height: 5vw;
          border-radius: 2.5vw;
          color: $grey;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;



      }

  }

  &__hover-text{
    font-size: 0.65em;
    flex-direction: row;
    width: 15vw;
    height: 5vw;
    color: $grey;
    visibility: hidden;
    position: absolute;
    left: -2vw;
    top: 9vw;
    align-items: center;

    &:hover{
      color: $teal;
      cursor: pointer;
    }
  }
}
