@import "./colours";
@import "./dimensions";
@import "./animations";

.plant-card{
    width: 100%;
    padding: 1.2vh 1vh;
    font-size: 3vw;
    height: 20vh;
    margin: 6vw 0;

    &:hover .schedule-detail__hover-text{
        visibility: visible;
      }

    &__content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $green;
        color: $white;
        border-radius: 2vh;



        &-text{
            width: 100%;
            height: 100%;
            padding: 1vh 2vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .plant-schedule{
                width: 100%;
                height: 40%;
                display: flex;
            }
        }

        &__title{
            width: 100%;
            height: 45%;
            color: $white;

            .plant{
                &-name{
                    font-size: 1em;
                    font-weight: normal;
                    color: inherit;
                }
                &-common-name{
                    font-size: 0.9em;
                    color: inherit;
                }
            }
        }
    }
    &__image{
        height: 90%;
        width: 40%;
        margin-right: 2vh;
        border-radius: 1vh;
        right: 0;
        top: 0;

    }

}