@import "./colours";
@import "./dimensions";
@import "./animations";

.schedule-detail {
  width: 30%;
  padding: 1vh 1vw;
  display: flex;
  justify-content: space-around;
  margin-right: 1vw;      


  &__icon {
    width: 45%;
    border-right: 1px solid $white;
    padding-right: 1.5vw;
  }

  &__text{
      width: 5vw;
      height: 5vw;
      border-radius: 2.5vw;
      background-color: $white;
      color: $grey;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;


      &--red{
          background-color: rgb(255, 115, 115);
          width: 5vw;
          height: 5vw;
          border-radius: 2.5vw;
          color: $grey;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;


      }

  }


  &__hover-text{
    font-size: 0.72em;
    flex-direction: row;
    width: 5vw;
    height: 5vw;
    color: $white;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: -2vw;
    align-items: center;

    &:hover{
      color: $teal;
      cursor: pointer;
    }
  }
  &:hover .schedule-detail__text{
    visibility: hidden;
  }
  &:hover .schedule-detail__text--red{
    visibility: hidden;
  }

  &:hover .schedule-detail__hover-text{
    visibility: visible;
  }
}
