@import "./animations";
@import "./colours";
@import "./dimensions";

.search__results-card {
  width: 100%;
  height: 28vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: fade-in-up 1s ease forwards;
  margin: 2vw 0;

  &:hover {
    .search__results-card_name {
      animation: zoom-in 1s ease forwards;
    }
  }

  &__name {
    word-wrap: normal;
    z-index: 2;
    font-size: 5vw;
    font-weight: 400;
    color: $white;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 3vw;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media screen and(min-width: $tablet-min) {
  .search__results-card {
    width: 100%;
    height: 17vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: fade-in-up 1s ease forwards;
    margin: 2vw 0;

    &__name {
      font-size: 2.5vw;
    }
  }
  &__image {
    border-radius: 1.5vw;
  }
}
