@import "./animations";
@import "./colours";
@import "./dimensions";

.search {
  animation: fade-in 1s ease forwards;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    width: $content-width--mobile;
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-bar {
      width: 50%;
      height: 10vw;
      border-radius: 5vw;
      background-color: $black;
      color: $white;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: 0.5s ease;

      svg {
        height: 80%;
        margin-left: 3vw;
      }

      &__input {
        background-color: transparent;
        color: $white;

        &:focus {
          color: $black;
          transition: 0.5s ease;
        }
      }

      &:focus-within {
        transition: 0.5s ease;
        width: 100%;
        background-color: white;
        border: 1px solid $black;
        svg path {
          fill: $black;
        }
      }
    }
  }

  &__results{
      width: 100%;
      margin-top: 5vw;
  }
}
