@import "./colours";
@import "./dimensions";
@import "./animations";

.user-garden {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 2.8vw;

  &__content {
    animation: fade-in-up 1.2s ease forwards;
    width: $content-width--mobile;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 1.5em;
    margin: 5vw 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &-text {
      font-size: 1em;
      width: 100%;
      text-align: center;
    }
  }

  &__plant-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and(min-width: $tablet-min) {
  .user-garden {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;

    &__content {
      animation: fade-in-up 1.2s ease forwards;
      width: $content-width--tablet;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      font-size: 1.2em;
      margin: 5vw 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      &-text {
        font-size: 1em;
        width: 100%;
        text-align: center;
      }
    }

    &__plant-cards {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
