@import "./colours";
@import "./dimensions";
@import "./animations";

.user-page{
    display: flex;
    justify-content: center;

    &__content{
        width: $content-width--mobile;
        display: flex;
        flex-direction: column;

        [contenteditable]{
            &:focus {
                outline: 1px solid $green;
            }

        }

        button{
            display: flex;
            margin: 5vw 0;
            font-size: 0.8em;
            width: 100%;
            justify-content: center;
            background-color: $teal;
            height: 7vh;
            border-radius: 7vw;
            color: white;


            &:hover{
                color: $teal;
                border: 1px solid $teal;
                background-color: transparent;
            }

        }


    }

    &__header{
        text-align: center;
        font-size: 2.5vw;
        margin-bottom: 3vw;
    }
}