@import './partials/fonts';
@import './partials/animations';
@import './partials/colours';
@import './partials/dimensions';


*{
    margin: 0;
    box-sizing: border-box;
    
    a{
        text-decoration: none;
    }
}