@font-face {
  font-family: "GothamRounded";
  src: url("../assets/fonts/GothamRounded/GothamRounded-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "GothamRounded";
  src: url("../assets/fonts/GothamRounded/GothamRounded-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "GothamRounded";
  src: url("../assets/fonts/GothamRounded/GothamRounded-Book.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "GothamRounded";
  src: url("../assets/fonts/GothamRounded/GothamRounded-BookItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "GothamRounded";
  src: url("../assets/fonts/GothamRounded/GothamRounded-Light.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "GothamRounded";
  src: url("../assets/fonts/GothamRounded/GothamRounded-LightItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "GothamRounded";
  src: url("../assets/fonts/GothamRounded/GothamRounded-Medium.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "GothamRounded";
  src: url("../assets/fonts/GothamRounded/GothamRounded-MediumItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@-webkit-keyframes text-to-green {
  to {
    color: #65CCB8;
  }
}

@keyframes text-to-green {
  to {
    color: #65CCB8;
  }
}

@-webkit-keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2vw);
            transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2vw);
            transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes zoom-in {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes zoom-in {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes text-to-green {
  to {
    color: #65CCB8;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2vw);
            transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.login {
  width: 100vw;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3vw;
  -webkit-animation: fade-in 2s ease forwards;
          animation: fade-in 2s ease forwards;
}

.login__content {
  width: 100%;
  height: 50%;
}

.login__section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login__section__title {
  font-size: 1.3em;
  margin: 2vh 0;
}

.login__section__entry {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__section__entry form {
  width: 100%;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login__section__sign-in {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

.login__section__create-account {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .login {
    font-size: 1.5vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login__content {
    width: 80%;
    height: 50%;
  }
  .login__section__entry {
    width: 40%;
  }
  .login__section__entry form {
    height: 85%;
  }
}

input {
  border: none;
  width: 100%;
  height: 7vh;
  border-radius: 7vw;
  text-indent: 7vw;
  background-color: #182628;
  color: #F2F2F2;
}

input:focus {
  outline: none;
}

button {
  border: none;
  background-color: transparent;
}

button:focus {
  outline: none;
}

svg {
  height: 4vw;
}

@media screen and (min-width: 768px) {
  input {
    border: none;
    height: 6.5vh;
    border-radius: 3vw;
    text-indent: 3vw;
  }
}

@keyframes text-to-green {
  to {
    color: #65CCB8;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2vw);
            transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.signup {
  font-size: 2.7vw;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup__content {
  margin-top: 6vw;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup__title {
  font-size: 1.5em;
  margin: 5vh 0;
  font-weight: 500;
}

.signup__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5vh 0;
}

.signup__form__input {
  margin: 2.5vw 0;
}

.signup__submit:hover {
  -webkit-animation: text-to-green 1s ease forwards;
          animation: text-to-green 1s ease forwards;
}

@media screen and (min-width: 768px) {
  .signup {
    font-size: 2vw;
  }
  .signup__content {
    margin-top: 10vh;
    width: 40%;
  }
  .signup__title {
    margin: 3vh 0;
  }
  .signup__form {
    margin: 3vh 0;
  }
  .signup__form__input {
    margin: 2.5vh 0;
  }
}

@keyframes text-to-green {
  to {
    color: #65CCB8;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2vw);
            transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.user-garden {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.8vw;
}

.user-garden__content {
  -webkit-animation: fade-in-up 1.2s ease forwards;
          animation: fade-in-up 1.2s ease forwards;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-garden__title {
  font-size: 1.5em;
  margin: 5vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.user-garden__title-text {
  font-size: 1em;
  width: 100%;
  text-align: center;
}

.user-garden__plant-cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .user-garden {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.5vw;
  }
  .user-garden__content {
    -webkit-animation: fade-in-up 1.2s ease forwards;
            animation: fade-in-up 1.2s ease forwards;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user-garden__title {
    font-size: 1.2em;
    margin: 5vw 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .user-garden__title-text {
    font-size: 1em;
    width: 100%;
    text-align: center;
  }
  .user-garden__plant-cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@keyframes text-to-green {
  to {
    color: #65CCB8;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2vw);
            transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.plant-card {
  width: 100%;
  padding: 1.2vh 1vh;
  font-size: 3vw;
  height: 20vh;
  margin: 6vw 0;
}

.plant-card:hover .schedule-detail__hover-text {
  visibility: visible;
}

.plant-card__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #57BA98;
  color: #F2F2F2;
  border-radius: 2vh;
}

.plant-card__content-text {
  width: 100%;
  height: 100%;
  padding: 1vh 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plant-card__content-text .plant-schedule {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plant-card__content__title {
  width: 100%;
  height: 45%;
  color: #F2F2F2;
}

.plant-card__content__title .plant-name {
  font-size: 1em;
  font-weight: normal;
  color: inherit;
}

.plant-card__content__title .plant-common-name {
  font-size: 0.9em;
  color: inherit;
}

.plant-card__image {
  height: 90%;
  width: 40%;
  margin-right: 2vh;
  border-radius: 1vh;
  right: 0;
  top: 0;
}

@media screen and (min-width: 768px) {
  .plant-card {
    width: 100%;
    padding: 1vw;
    font-size: 1.5vw;
    height: 15vw;
    margin: 2vw 0;
  }
  .plant-card__content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #57BA98;
    color: #F2F2F2;
    border-radius: 2vh;
  }
  .plant-card__content-text {
    width: 100%;
    height: 100%;
    padding: 1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .plant-card__content-text .plant-schedule {
    width: 100%;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .plant-card__content__title {
    width: 100%;
    height: 45%;
    color: #F2F2F2;
  }
  .plant-card__content__title .plant-name {
    font-size: 1em;
    font-weight: normal;
    color: inherit;
  }
  .plant-card__content__title .plant-common-name {
    font-size: 0.9em;
    color: inherit;
  }
  .plant-card__image {
    height: 90%;
    width: 40%;
    margin-right: 2vh;
    border-radius: 1vh;
    right: 0;
    top: 0;
  }
}

@keyframes text-to-green {
  to {
    color: #65CCB8;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2vw);
            transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.schedule-detail {
  width: 40%;
  padding: 1vh 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 1vw;
}

.schedule-detail__icon {
  width: 20%;
  height: auto;
  margin-right: 2vw;
}

.schedule-detail__icon__separator {
  border-left: 1px solid #F2F2F2;
  padding-left: 3vw;
}

.schedule-detail__text {
  width: 5vw;
  height: 5vw;
  border-radius: 2.5vw;
  background-color: #F2F2F2;
  color: #858585;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedule-detail__text--red {
  background-color: #ff7373;
  width: 5vw;
  height: 5vw;
  border-radius: 2.5vw;
  color: #858585;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedule-detail__hover-text {
  font-size: 0.65em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  visibility: hidden;
  height: 5.5vw;
  left: -2vw;
  top: 7vw;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-animation: fade-in-up 1s ease fowards;
          animation: fade-in-up 1s ease fowards;
  width: 100%;
}

.schedule-detail__hover-text-box {
  margin-left: 6vw;
  height: 100%;
}

.schedule-detail__hover-text-box:hover {
  cursor: pointer;
}

.schedule-detail__hover-text-box:hover span {
  color: #57BA98;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

@media screen and (min-width: 768px) {
  .schedule-detail {
    width: 30%;
    padding: 1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 1vw;
  }
  .schedule-detail__icon {
    width: 20%;
    height: auto;
    margin-right: 1vw;
  }
  .schedule-detail__icon__separator {
    border-left: 1px solid #F2F2F2;
    padding-left: 1.5vw;
  }
  .schedule-detail__text {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 1.25vw;
    background-color: #F2F2F2;
    color: #858585;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.8em;
  }
  .schedule-detail__text--red {
    background-color: #ff7373;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 1.25vw;
    color: #858585;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.8em;
  }
  .schedule-detail__hover-text {
    font-size: 0.75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: white;
    visibility: hidden;
    height: 3vw;
    top: 3vw;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-animation: fade-in-up 1s ease fowards;
            animation: fade-in-up 1s ease fowards;
    width: 100%;
  }
  .schedule-detail__hover-text-box {
    margin-left: 4vw;
    height: 100%;
  }
  .schedule-detail__hover-text-box:hover {
    cursor: pointer;
  }
  .schedule-detail__hover-text-box:hover span {
    color: #57BA98;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
}

@keyframes text-to-green {
  to {
    color: #65CCB8;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2vw);
            transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
  width: 100vw;
  font-size: 4vw;
  margin-bottom: 3vh;
  background-color: #65CCB8;
}

.navbar__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__content__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
}

.navbar__content__links {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7em;
}

.navbar__content__links__link:hover {
  color: #F2F2F2;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 10vh;
    font-size: 1.7vw;
    margin-bottom: 2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .navbar__content {
    width: 100%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__content__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding: 2.5vw;
  }
  .navbar__content__links {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.7em;
  }
}

@keyframes text-to-green {
  to {
    color: #65CCB8;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2vw);
            transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.plant-info-page {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3vw;
  -webkit-animation: fade-in 1s ease forwards;
          animation: fade-in 1s ease forwards;
}

.plant-info-page .plant-info__content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plant-info-page .plant-info__content__title {
  margin: 5vw 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plant-info-page .plant-info__content__title svg:hover path {
  stroke: #182628;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.plant-info-page .plant-info__content__title div {
  width: 100%;
  text-align: center;
}

.plant-info-page .plant-info__content__title div-pet-name {
  font-weight: 400;
}

.plant-info-page .plant-info__content__image {
  width: 100%;
  height: 25vh;
  border-radius: 1.5vw;
  margin: 3vw 0;
}

.plant-info-page .plant-info__content__details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plant-info-page button {
  margin: 4vh 0;
  width: 60%;
  height: 8vw;
  background-color: #65CCB8;
  color: #F2F2F2;
  border-radius: 5vw;
}

.plant-info-page button:hover {
  background-color: white;
  color: #65CCB8;
  border: 1.5px solid #65CCB8;
}

@media screen and (min-width: 768px) {
  .plant-info-page .plant-info__content {
    width: 80%;
  }
  .plant-info-page .plant-info__content__title div-pet-name {
    font-weight: 400;
  }
  .plant-info-page .plant-info__content__image {
    height: 18vw;
  }
  .plant-info-page button {
    margin: 2vw 0;
    width: 50%;
    height: 5vw;
    border-radius: 2.5vw;
  }
}

@keyframes text-to-green {
  to {
    color: #65CCB8;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2vw);
            transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.plant-info__details__category {
  width: 100%;
  font-size: 2.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2vw;
}

.plant-info__details__category-title {
  width: 25%;
  padding-right: 1vw;
  border-right: 1px solid #d1d1d1;
}

.plant-info__details__category-content {
  width: 75%;
  padding-left: 2vw;
}

@media screen and (min-width: 768px) {
  .plant-info__details__category {
    width: 100%;
    font-size: 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1vw;
  }
  .plant-info__details__category-title {
    width: 25%;
    padding-right: 1vw;
    border-right: 1px solid #d1d1d1;
  }
  .plant-info__details__category-content {
    width: 75%;
    padding-left: 1.5vw;
  }
}

@keyframes text-to-green {
  to {
    color: #65CCB8;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2vw);
            transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.search {
  -webkit-animation: fade-in 1s ease forwards;
          animation: fade-in 1s ease forwards;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__content .search-bar {
  width: 50%;
  height: 10vw;
  border-radius: 5vw;
  background-color: #182628;
  color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.search__content .search-bar svg {
  height: 80%;
  margin-left: 3vw;
}

.search__content .search-bar__input {
  background-color: transparent;
  color: #F2F2F2;
}

.search__content .search-bar__input:focus {
  color: #182628;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.search__content .search-bar:focus-within {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 100%;
  background-color: white;
  border: 1px solid #182628;
}

.search__content .search-bar:focus-within svg path {
  fill: #182628;
}

.search__results {
  width: 100%;
  margin-top: 5vw;
}

.search__results__none {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .search {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .search__content {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .search__content .search-bar {
    width: 30%;
    height: 5vw;
    border-radius: 2.5vw;
    background-color: #182628;
    color: #F2F2F2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .search__content .search-bar svg {
    height: 80%;
    margin-left: 2.5vw;
  }
  .search__results {
    width: 100%;
    margin-top: 5vw;
  }
  .search__results__none {
    text-align: center;
  }
}

@keyframes text-to-green {
  to {
    color: #65CCB8;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2vw);
            transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.search__results-card {
  width: 100%;
  height: 28vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-animation: fade-in-up 1s ease forwards;
          animation: fade-in-up 1s ease forwards;
  margin: 2vw 0;
}

.search__results-card:hover .search__results-card_name {
  -webkit-animation: zoom-in 1s ease forwards;
          animation: zoom-in 1s ease forwards;
}

.search__results-card__name {
  word-wrap: normal;
  z-index: 2;
  font-size: 5vw;
  font-weight: 400;
  color: #F2F2F2;
}

.search__results-card__image {
  width: 100%;
  height: 100%;
  border-radius: 3vw;
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (min-width: 768px) {
  .search__results-card {
    width: 100%;
    height: 17vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-animation: fade-in-up 1s ease forwards;
            animation: fade-in-up 1s ease forwards;
    margin: 2vw 0;
  }
  .search__results-card__name {
    font-size: 2.5vw;
  }
  __image {
    border-radius: 1.5vw;
  }
}

@keyframes text-to-green {
  to {
    color: #65CCB8;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2vw);
            transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.add-plant {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3vw;
  background-color: white;
}

.add-plant__content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-plant__content__title {
  text-align: center;
  margin: 4vw 0;
}

.add-plant__content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.add-plant__content__form input {
  font-size: 0.8em;
  margin-bottom: 2vw;
}

.add-plant__content__form label {
  font-size: 0.6em;
}

.add-plant__content__form button {
  font-size: 0.8em;
  width: 100%;
  margin-top: 1.5vw;
}

.add-plant__content__form button:hover {
  color: #65CCB8;
}

@media screen and (min-width: 768px) {
  .add-plant {
    font-size: 1.5vw;
  }
  .add-plant__content {
    width: 80%;
  }
  .add-plant__content__title {
    margin: 3vw 0;
  }
  .add-plant__content__form {
    width: 40%;
  }
  .add-plant__content__form input {
    margin-bottom: 1.5vw;
  }
  .add-plant__content__form label {
    font-size: 0.75em;
  }
}

@keyframes text-to-green {
  to {
    color: #65CCB8;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2vw);
            transform: translateY(-2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.user-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-page__content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-page__content [contenteditable]:focus {
  outline: 1px solid #57BA98;
}

.user-page__content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2vw 0;
  font-size: 0.8em;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #65CCB8;
  height: 7vh;
  border-radius: 7vw;
  color: white;
}

.user-page__content button:hover {
  color: #65CCB8;
  border: 1px solid #65CCB8;
  background-color: transparent;
}

.user-page__header {
  text-align: center;
  font-size: 2.5vw;
  margin-bottom: 3vw;
}

@media screen and (min-width: 768px) {
  .user-page__content {
    width: 80%;
  }
  .user-page__header {
    text-align: center;
    font-size: 1.85vw;
    margin-bottom: 3vw;
  }
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: GothamRounded;
  font-weight: 200;
  color: #182628;
}

* a {
  text-decoration: none;
  color: initial;
}
/*# sourceMappingURL=App.css.map */